/* pages/userdata/index.wxss */
.inputbox{
  width: 680rpx;
  height: 660rpx;
  margin: auto;
  background-color: #fff;
  display: flex;
  justify-content:flex-end;
  font-family: '微软雅黑';
  margin-top: 20rpx;
  border-bottom: 1rpx solid #dedede;
  padding-top: 15rpx;
}

.userinputbox{
  width: 630rpx;
  height: 110rpx;
  line-height: 110rpx;
}
.userinputbox input{
  width: 400rpx;
  height: 110rpx;
  text-align: right;
  font-weight: 600;
  color: #ccc;
  font-size: 35rpx;
  margin-right: 50rpx;
}
.username{
  width: 630rpx;
  height: 110rpx;
  border-bottom: 1rpx solid #ccc;
  line-height: 110rpx;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.account{
  width: 630rpx;
  height: 110rpx;
  line-height: 110rpx;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.account input{
  width: 400rpx;
  height: 110rpx;
  text-align: right;
  font-weight: 600;
  color: #ccc;
  font-size: 35rpx;
  margin-right: 50rpx;
}
.useredit button{
  margin: auto;
  width: 500rpx;
  height: 85rpx;
  line-height: 85rpx;
  margin-top: 100rpx;
  border-radius: 10rpx;
}