<template>
 
  <div>
		<div class='navcation'>
			
			<div style='flex:0.3;justify-content:center;align-items:center;'>
				<text style='font-size:32;color:#fff;'>北京 ▽</text>
			</div>
			//搜索
			<div style='flex:1;justify-content:center;'>
				<div style='flex-direction:row;background-color:#fff;justify-content:center;align-items:center;margin-left:20px;margin-right:20px;border-radius:5px;height:70px;'>
					<image src='./src/image/sou.jpg' style='background-color:#ff5000;width:44px;height:44px;margin-right:10px;'></image>
					
					  <input type="text" placeholder="搜索" class="input" :autofocus=true value=""  style='width:220px;'/>
					<image src='./src/image/er.jpg' style='background-color:#ff50ff;width:44px;height:44px;margin-left:20px;'></image>
				</div>
			</div>
			
			<div style='flex:0.3;background-color:#61ad00;flex-direction:row;justify-content:center;align-items:center;'>
				<image>图片</image>
				<text style='font-size:32;color:#fff;'>地图</text>
			</div>
			
		</div>
		//轮播图
		<!-- <div style='margin-top:90px;'>
			<slider class="slider" interval="2000" auto-play="true" >
			  <div class="frame" v-for="img in imageList">
				<image class="image" resize="cover" :src="img.src"></image>
			  </div>
			</slider>
		</div> -->
		<div style='margin-top:90px;'>
			<slider class="slider" interval="2000" auto-play="true" >
			  <div class="frame">
				<image class="image" resize="cover" src="http://pic.qiantucdn.com/58pic/16/65/33/50K58PICeSE_1024.jpg"></image>
			  </div>
			  <div class="frame">
			  <image class="image" resize="cover" src="http://pic.qiantucdn.com/58pic/18/48/40/5627dc51ec018_1024.jpg"></image>
			  </div>
			  <div class="frame">
			  <image class="image" resize="cover" src="http://pic.qiantucdn.com/58pic/19/04/53/95j58PICWbe_1024.jpg"></image>
			  </div>
			</slider>
		</div>
		
		//分类
		<div class='tab'>
			 <div style='flex-direction:row;'>
				<div style='justify-content:center;align-items:center;flex:1;'>
					<image src="http://pic.baike.soso.com/p/20130530/bki-20130530152908-2004651622.jpg" style="width:90px;height:90px;"></image>
					<text class='tabtitle'>商品特产</text>
				</div>
				<div style='justify-content:center;align-items:center;flex:1;'>
					<image src="http://pic.baike.soso.com/p/20130530/bki-20130530152908-2004651622.jpg" style="width:90px;height:90px;"></image>
					<text class='tabtitle'>商品特产</text>
				</div>
				<div style='justify-content:center;align-items:center;flex:1;'>
					<image src="http://pic.baike.soso.com/p/20130530/bki-20130530152908-2004651622.jpg" style="width:90px;height:90px;"></image>
					<text class='tabtitle'>商品特产</text>
				</div>
				<div style='justify-content:center;align-items:center;flex:1;'>
					<image src="http://pic.baike.soso.com/p/20130530/bki-20130530152908-2004651622.jpg" style="width:90px;height:90px;"></image>
					<text class='tabtitle'>商品特产</text>
				</div>
			</div> 
			<div style='flex-direction:row;'>
				<div style='justify-content:center;align-items:center;flex:1;'>
					<image src="http://pic.baike.soso.com/p/20130530/bki-20130530152908-2004651622.jpg" style="width:90px;height:90px;"></image>
					<text class='tabtitle'>商品特产</text>
				</div>
				<div style='justify-content:center;align-items:center;flex:1;'>
					<image src="http://pic.baike.soso.com/p/20130530/bki-20130530152908-2004651622.jpg" style="width:90px;height:90px;"></image>
					<text class='tabtitle'>商品特产</text>
				</div>
				<div style='justify-content:center;align-items:center;flex:1;'>
					<image src="http://pic.baike.soso.com/p/20130530/bki-20130530152908-2004651622.jpg" style="width:90px;height:90px;"></image>
					<text class='tabtitle'>商品特产</text>
				</div>
				<div style='justify-content:center;align-items:center;flex:1;'>
					<image src="http://pic.baike.soso.com/p/20130530/bki-20130530152908-2004651622.jpg" style="width:90px;height:90px;"></image>
					<text class='tabtitle'>商品特产</text>
				</div>
			</div> 
			
		</div>
	
		//商品列表
		<!-- <div class='good_list'>
			<div class='good_de' v-for="items in weexStar">
				<image :src="items['pic']"  style='width:360px;height:230px;'></image>
				<div style='margin-left:15px;'>
					<text style='margin-top:20px;font-size:36px;'>{{items['title']}}</text>
					<text style='margin-top:20px;color:#777;'>{{items['subtitle']}}</text>
					<text style='margin-top:20px;color:#FF4040;'>￥{{items['price']}}</text>
				</div>
		
			</div>

		</div> -->
		<router-link to='/product'>
			<div class='good_list'>
				<div class='good_de'>
					<image src="http://img4.imgtn.bdimg.com/it/u=2621182812,1647139834&fm=26&gp=0.jpg"  style='width:360px;height:230px;'></image>
					<div style='margin-left:15px;'>
						<text style='margin-top:20px;font-size:36px;'>手机</text>
						<text style='margin-top:20px;color:#777;'>这部手机还可以</text>
						<text style='margin-top:20px;color:#FF4040;'>￥2999</text>
					</div>
				</div>
				<div class='good_de'>
					<image src="http://img4.imgtn.bdimg.com/it/u=2621182812,1647139834&fm=26&gp=0.jpg"  style='width:360px;height:230px;'></image>
					<div style='margin-left:15px;'>
						<text style='margin-top:20px;font-size:36px;'>手机</text>
						<text style='margin-top:20px;color:#777;'>这部手机还可以</text>
						<text style='margin-top:20px;color:#FF4040;'>￥2999</text>
					</div>
				</div>
				<div class='good_de'>
					<image src="http://img4.imgtn.bdimg.com/it/u=2621182812,1647139834&fm=26&gp=0.jpg"  style='width:360px;height:230px;'></image>
					<div style='margin-left:15px;'>
						<text style='margin-top:20px;font-size:36px;'>手机</text>
						<text style='margin-top:20px;color:#777;'>这部手机还可以</text>
						<text style='margin-top:20px;color:#FF4040;'>￥2999</text>
					</div>
				</div>
				<div class='good_de'>
					<image src="http://img4.imgtn.bdimg.com/it/u=2621182812,1647139834&fm=26&gp=0.jpg"  style='width:360px;height:230px;'></image>
					<div style='margin-left:15px;'>
						<text style='margin-top:20px;font-size:36px;'>手机</text>
						<text style='margin-top:20px;color:#777;'>这部手机还可以</text>
						<text style='margin-top:20px;color:#FF4040;'>￥2999</text>
					</div>
				</div>
				<div class='good_de'>
					<image src="http://img4.imgtn.bdimg.com/it/u=2621182812,1647139834&fm=26&gp=0.jpg"  style='width:360px;height:230px;'></image>
					<div style='margin-left:15px;'>
						<text style='margin-top:20px;font-size:36px;'>手机</text>
						<text style='margin-top:20px;color:#777;'>这部手机还可以</text>
						<text style='margin-top:20px;color:#FF4040;'>￥2999</text>
					</div>
				</div>
				<div class='good_de'>
					<image src="http://img4.imgtn.bdimg.com/it/u=2621182812,1647139834&fm=26&gp=0.jpg"  style='width:360px;height:230px;'></image>
					<div style='margin-left:15px;'>
						<text style='margin-top:20px;font-size:36px;'>手机</text>
						<text style='margin-top:20px;color:#777;'>这部手机还可以</text>
						<text style='margin-top:20px;color:#FF4040;'>￥2999</text>
					</div>
				</div>
			</div>
		</router-link>
  </div>
	
</template>
<script>

	var stream = weex.requireModule('stream')
	export default {
		data:{/*
			weexStar:'unknown',
			imageList: [
				{ src: 'http://pic.qiantucdn.com/58pic/16/65/33/50K58PICeSE_1024.jpg'},
				{ src: 'http://pic.qiantucdn.com/58pic/18/48/40/5627dc51ec018_1024.jpg'},
				{ src: 'http://pic.qiantucdn.com/58pic/19/04/53/95j58PICWbe_1024.jpg'}
			],
			
			test:'http://pic.baike.soso.com/p/20130530/bki-20130530152908-2004651622.jpg',
			name:'商品特产',

		*/},
		methods:{/*
			getStarCount (repo, callback) {
				return stream.fetch({
					method: 'GET',
					type: 'json',
					url: 'http://www.mall.com/api/goodlist'
				},callback )
			},

			//所有的function
		*/},
		getStarCount (repo, callback) {/*
				return stream.fetch({
					method: 'GET',
					type: 'json',
					url: 'http://www.mall.com/api/goodlist'
				},callback )
			*/},
		created:function(){/*
			this.getStarCount('alibaba/weex', res => {
				
				this.weexStar = res.ok ? res.data : '(network error)'
			})
			//初始化时回调
		*/},
		ready:function(){
			//文档初始化完毕
		}
	}
</script>
<style scoped>

	.good_de{
		width:100%;
		height:auto;
		border:1px solid red;
		flex:1;
		margin-top:5px;
		flex-direction:row;
	}
	.navcation{
		flex-direction:row;
		height:100px;
		background-color:#61ad00;
		position:fixed;
		width:100%;
		top:0px;
	}
	.tab{
		margin-top:30px;
		margin-bottom:20px;
	}
	.tabtitle{
		margin-top:5px;
		color:#999;
	}
	  .image {
		width: 700px;
		height: 500px;
	  }
	  .slider {
		margin-top: 25px;
		margin-left: 25px;
		width: 700px;
		height: 500px;
		border-width: 2px;
		border-style: solid;
		border-color: #41B883;
	  }
	  .frame {
		width: 700px;
		height: 500px;
		position: relative;
	  }
</style>