<template>
	<div style='background-color:#f5f5f5;'>
		<!-- 头部 -->
		<div class='header'>
			<router-link to='/product'><div style='flex:1;height:90px;justify-content:center;align-items:left;width:244px;'><text style='font-size:50px;color:#777;margin-left:20px;'><</text></div></router-link>
			<div style='flex:1;height:90px;justify-content:center;align-items:center;'><text>会员登录</text></div>
			<div style='flex:1;height:90px;'></div>
		</div>
		<!-- 中间输入部分 -->
		<div class='inputs'>
			<input type="text" placeholder="请输入用户名" class="input" :autofocus=true value="123456" />
			<input type="password" placeholder="请输入用密码" class="input" :autofocus=true value="123456" />
			<div class='code'>
				<input style='flex:1;' type="text" placeholder="请输入验证码" class="input" :autofocus=true value="abcd" />
				<div style='flex:0.5;border:1px solid #333;justify-content:center;
			align-items:center;height:90px;margin-top:50px;background-color:#fff;'><text style='font-size:42px;'>abcd</text></div>
			</div>
			<router-link to='/personal'><div style='width:650px;height:90px;border:1px solid #333;justify-content:center;align-items:center;margin-top:50px;background-color:#eeeeee;'><text>登陆</text></div></router-link>
			<div style='flex-direction:row;justify-content:center;align-items:center;width:650px;margin-top:50px;'>
				<div style='flex:1;height:90px;'><text>忘记密码</text></div>
				<div style='flex:3;height:90px;'></div>
				<div style='flex:1;height:90px;'><text>快速注册</text></div>
			</div>
		</div>
		
	</div>
</template>
<script>
	module.exports = {
		methods:{
			/*onclick(event){
				alert('登陆成功');
			}*/
		}
	}
	
</script>
<style scoped>
	.header{
		flex-direction:row;
		background-color:#f5f5f5;
		border-bottom:1px solid #666;
		
	}
	.inputs{
		
		justify-content:center;
		align-items:center;
	}
	.input{
		margin-top:50px;
		width:650px;
		height:90px;
		border:1px solid #333;
	}
	.code{
		flex-direction:row;
		width:650px;
		justify-content:center;
		align-items:center;
	}
</style>