<template>
	<div style='background-color:#f5f5f5;'>
		<!-- 头部 -->
		<div class='header'>
			<router-link to='/login'><div style='flex:1;height:90px;justify-content:center;align-items:left;width:244px;'><text style='font-size:50px;color:#777;margin-left:20px;'><</text></div></router-link>
			<div style='flex:1;height:90px;justify-content:center;align-items:center;'><text>个人中心</text></div>
			<div style='flex:1;height:90px;'></div>
		</div>
		<div class='userheader'>
			<image style='width:100%;height:330px;position:absolute;' src='./src/image/582819beNe89ce16d.png'></image>
			<div style='flex-direction:row;'>
				<image style='flex:0.7;width:150px;height:150px;border-radius:70px;margin-top:20px;margin-left:20px;' src='./src/image/head_phone.jpg'></image>
				<text style='flex:1.5;font-size:39px;margin-left:30px;margin-top:30px;color:#fff;'>用户名</text>
				<text style='flex:1;font-size:30px;margin-left:30px;margin-top:30px;color:#fff;'>账号管理 ></text>
			</div>
			<div class='gzgood'>
				<text style='font-size:38px;color:#fff;'>0</text>
				<text style='font-size:36px;color:#fff;margin-top:5px;'>关注的商品</text>
			</div>
		</div>
		<div class='order'>
			<image src='./src/image/order.png' style='height:55px;flex:0.23;margin-top:10px;margin-left:20px;'></image>
			<div style='flex:2;height:55px;margin-top:10px;margin-left:25px;'><text style='font-size:36px;'>我的订单</text></div>
			<div style='flex:0.8;height:55px;margin-top:10px;'><text style='color:#666;'>全部订单 ></text></div>
		</div>
		<div class='list'>
			<div style='flex:1;height:170px;justify-content:center;align-items:center;'>
				<image src='./src/image/order_left.png' style='width:60px;height:60px;'></image>
				<text style='margin-top:5px;'>待付款</text>
			</div>
			<div style='flex:1;height:170px;justify-content:center;align-items:center;'>
				<image src='./src/image/order_center.png' style='width:60px;height:60px;'></image>
				<text style='margin-top:5px;'>待收货</text>
			</div>
			<div style='flex:1;height:170px;justify-content:center;align-items:center;'>
				<image src='./src/image/order_right.png' style='width:60px;height:60px;'></image>
				<text style='margin-top:5px;'>待评价</text>
			</div>
		</div>
		<div class='se1'>
			<text style='flex:5;margin-left:20px;font-size:38px;color:#666;'>收货地址管理</text>
			<text style='flex:0.4;font-size:38px;color:#666;'>></text>
		</div>
		<div class='se2'>
			<text style='flex:5;margin-left:20px;font-size:38px;color:#666;'>优惠券管理</text>
			<text style='flex:0.4;font-size:38px;color:#666;'>></text>
		</div>
		<div class='se2'>
			<text style='flex:5;margin-left:20px;font-size:38px;color:#666;'>分享管理</text>
			<text style='flex:0.4;font-size:38px;color:#666;'>></text>
		</div>
		<div class='se2'>
			<text style='flex:5;margin-left:20px;font-size:38px;color:#666;'>帮助中心</text>
			<text style='flex:0.4;font-size:38px;color:#666;'>></text>
		</div>
		<div class='se2'>
			<text style='flex:5;margin-left:20px;font-size:38px;color:#666;'>退出登陆</text>
			<text style='flex:0.4;font-size:38px;color:#666;'>></text>
		</div>
	</div>
</template>

<style scoped>
	.se1{
		margin-top:50px;
		flex-direction:row;
		width:100%;
		height:90px;
		background-color:#fff;
		justify-content:center;align-items:center;
	}
	.se2{
		margin-top:20px;
		flex-direction:row;
		width:100%;
		height:90px;
		background-color:#fff;
		justify-content:center;align-items:center;
	}
	.list{
		flex-direction:row;
		width:100%;
		height:auto;
		background-color:#ffffff;
		margin-top:15px;
		
	}
	.header{
		flex-direction:row;
		background-color:#f5f5f5;
		border-bottom:1px solid #666;
		
	}
	.gzgood{
		width:100%;
		height:130px;
		margin-top:30px;
		background-color:#444;
		opacity:0.6;
		justify-content:center;align-items:center;
	}
	.order{
		flex-direction:row;
		background-color:#fff;
		width:100%;
		height:80px;
		margin-top:20px;
	}
</style>