<template>
 
  <div>
	
		//轮播图
		<div>
			<slider class="slider" interval="2000" auto-play="true" >
			  <div class="frame">
				<image class="image" resize="cover" src="http://img.taopic.com/uploads/allimg/140403/234718-14040315523345.jpg"></image>
			  </div>
			  <div class="frame">
				<image class="image" resize="cover" src="http://pic.qiantucdn.com/58pic/18/48/40/5627dc51ec018_1024.jpg"></image>
			  </div>
			  <div class="frame">
				<image class="image" resize="cover" src="http://pic.qiantucdn.com/58pic/19/04/53/95j58PICWbe_1024.jpg"></image>
			  </div>
			</slider>
		</div>
		
		<text style='margin:10px auto 0 25px;font-size:37px;'>手机</text>
		<text style='margin:10px auto 0 25px;font-size:32px;color:#FF4040;'>价格：￥2999</text>
		<del style='font-size:34px;color:#999;margin:10px auto 0 25px;'>市场价：￥3999</del>
		<div style='justify-content:center;align-items:center;'><text style='font-size:30px;color:#999;'>月销量5000</text></div>
		<div style='border-top:1px solid #444;margin-top:30px;'></div>
		<div style='margin-top:20px;'>
			<image src='./src/image/595dda76N64984138.jpg' style='width:100%;height:300px;'></image>
			<image src='./src/image/593a40fcNd5352b6d.jpg' style='width:100%;height:500px;'></image>
		</div>
		<div style='height:90px;'></div>
		<div class='probottom'>
			<div class='bottom-left'>
				<div style='flex:1;justify-content:center;align-items:center;border:1px solid red;background-color:#fff;'><text >收藏</text></div>
				<router-link to='/shopcart'><div style='flex:1;justify-content:center;align-items:center;border:1px solid red;background-color:#fff;width:140px;'><text >购物车</text></div></router-link>
			</div>
			
			<div class='bottom-right'>
			
				
			<scroller class="scroller">
				<refresh class="refresh" @pullingdown="onpullingdown" >
				  
				</refresh>
				<div class="cell">
				  <div class="panel" style='flex:1;justify-content:center;align-items:center;background-color:#ff9500;width:233.25px;height:90px;'>
					<text style='color:#fff;'>加入购物车</text>
				  </div>
				</div>
			</scroller>


			<router-link to='/login'><div style='flex:1;justify-content:center;align-items:center;background-color:#dd2727;width:233.25px;'><text style='color:#fff;'>立即购买</text></div></router-link>
			</div>
			  
		</div>
		
  </div>
	
</template>
<script>
    const modal = weex.requireModule('modal')
		module.exports = {
			methods: {
				onpullingdown (event) {
				modal.toast({ message: '加入购物车成功', duration: 0 })
			}	
		}
	
	/*
		data:{
			weexStar:'unknown',
			imageList: [
				{ src: 'http://img.taopic.com/uploads/allimg/140403/234718-14040315523345.jpg'},
				{ src: 'http://pic.qiantucdn.com/58pic/18/48/40/5627dc51ec018_1024.jpg'},
				{ src: 'http://pic.qiantucdn.com/58pic/19/04/53/95j58PICWbe_1024.jpg'}
			],
			price:'2999.00',
			scprice:'3500.00',
			xiaol:'5000',
			name:'iPhone 5S',
	
		},
		methods:{
			getStarCount (repo, callback) {
				return stream.fetch({
					method: 'GET',
					type: 'json',
					url: 'http://www.mall.com/api/goodlist'
				},callback )
			},

			//所有的function
		},
		created:function(){
			this.getStarCount('alibaba/weex', res => {
			//this.weexStar = [
			//	{'title':'xcl','subtitle':'xcxcx','price':'300'},
			//	{'title':'xcl','subtitle':'xcxcx','price':'300'}
			//]
			this.weexStar = res.ok ? res.data : '(network error)'
		  })
		},
		ready:function(){
			//文档初始化完毕
		}
	*/}
</script>
<style scoped>
		.toshop{
			width:280px;
			height:110px;
			border:1px solid red;
			position:fixed;
			top:50%;
			left:35%;
			background-color:#555;
			justify-content:center;align-items:center;
			border-radius:40px;
			display:none;
		}
		.probottom{
			flex-direction:row;
			width:100%;
			height:90px;
			position:fixed;
			bottom:0;
		}
		.bottom-left{
			flex-direction:row;
			height:90px;
			border:1px solid red;
			flex:0.6;
		}
		.bottom-right{
		width:100%;
			flex-direction:row;
			height:90px;
			border:1px solid red;
			flex:1;
			background-color:#fff;
		}
		
	  .image {
		width: 700px;
		height: 500px;
	  }
	  .slider {
		margin-top: 25px;
		margin-left: 25px;
		width: 700px;
		height: 500px;
		border-width: 2px;
		border-style: solid;
		border-color: #41B883;
	  }
	  .frame {
		width: 700px;
		height: 500px;
		position: relative;
	  }
</style>