<template>
<div>
	<!-- 头部 -->
	<div class='header'>
		<router-link to='/product'><div style='flex:1;height:90px;justify-content:center;align-items:left;width:140px;'><text style='font-size:50px;color:#777;margin-left:20px;'><</text></div></router-link>
		<div style='flex:3;height:90px;justify-content:center;align-items:center;'><text>购物车</text></div>
		<div style='flex:1;height:90px;justify-content:center;align-items:center;'><text>编辑</text></div>
	</div>
	<!-- 商品列表 -->
	<div class='shopgood'>
		<div class='cart-title-border'><input type="checkbox" style='width:35px;height:35px;margin-top:5px;' /><text style='margin-left:20px;'>手机</text></div>
		<div class='goodimg'>
			<div style='flex:1;height:200px;'>
					<image src='http://img.zcool.cn/community/01701b56345e356ac7259e0fd0fc96.png@900w_1l_2o_100sh.jpg' style='width:100%;height:200px;'></image>
			</div>
			<div style='flex:0.8;height:auto;margin-top:20px;'>
				<text style='color:#FF9A66;margin-left:20px;'>￥2999</text>
				<div style='width:230px;height:70px;border:1px solid #00437C;margin-top:20px;flex-direction:row;margin-left:20px;'>
					<div style='flex:1;height:70px;border:1px solid #00437C;justify-content:center;align-items:center;'><text style='font-size:70px;color:#00437C;margin-top:-15px;'>-</text></div>
					<div style='flex:1;height:70px;border:1px solid #00437C;justify-content:center;align-items:center;'><text style='font-size:40px;color:#00437C;'>1</text></div>
					<div style='flex:1;height:70px;border:1px solid #00437C;justify-content:center;align-items:center;'><text style='font-size:70px;color:#00437C;'>+</text></div>
			
				
				</div>
			</div>
		</div>
		<div style='height:30px;'></div>
	</div>
	<div class='shopgood'>
		<div class='cart-title-border'><input type="checkbox" style='width:35px;height:35px;margin-top:5px;' /><text style='margin-left:20px;'>手机</text></div>
		<div class='goodimg'>
			<div style='flex:1;height:200px;'>
					<image src='http://img.zcool.cn/community/01701b56345e356ac7259e0fd0fc96.png@900w_1l_2o_100sh.jpg' style='width:100%;height:200px;'></image>
			</div>
			<div style='flex:0.8;height:auto;margin-top:20px;'>
				<text style='color:#FF9A66;margin-left:20px;'>￥2999</text>
				<div style='width:230px;height:70px;border:1px solid #00437C;margin-top:20px;flex-direction:row;margin-left:20px;'>
					<div style='flex:1;height:70px;border:1px solid #00437C;justify-content:center;align-items:center;'><text style='font-size:70px;color:#00437C;margin-top:-15px;'>-</text></div>
					<div style='flex:1;height:70px;border:1px solid #00437C;justify-content:center;align-items:center;'><text style='font-size:40px;color:#00437C;'>1</text></div>
					<div style='flex:1;height:70px;border:1px solid #00437C;justify-content:center;align-items:center;'><text style='font-size:70px;color:#00437C;'>+</text></div>
			
				</div>
			</div>
		</div>
		<div style='height:30px;'></div>
	</div>
	<div class='shopgood'>
		<div class='cart-title-border'><input type="checkbox" style='width:35px;height:35px;margin-top:5px;' /><text style='margin-left:20px;'>手机</text></div>
		<div class='goodimg'>
			<div style='flex:1;height:200px;'>
					<image src='http://img.zcool.cn/community/01701b56345e356ac7259e0fd0fc96.png@900w_1l_2o_100sh.jpg' style='width:100%;height:200px;'></image>
			</div>
			<div style='flex:0.8;height:auto;margin-top:20px;'>
				<text style='color:#FF9A66;margin-left:20px;'>￥2999</text>
				<div style='width:230px;height:70px;border:1px solid #00437C;margin-top:20px;flex-direction:row;margin-left:20px;'>
					<div style='flex:1;height:70px;border:1px solid #00437C;justify-content:center;align-items:center;'><text style='font-size:70px;color:#00437C;margin-top:-15px;'>-</text></div>
					<div style='flex:1;height:70px;border:1px solid #00437C;justify-content:center;align-items:center;'><text style='font-size:40px;color:#00437C;'>1</text></div>
					<div style='flex:1;height:70px;border:1px solid #00437C;justify-content:center;align-items:center;'><text style='font-size:70px;color:#00437C;'>+</text></div>
			
				
				</div>
			</div>
		</div>
		<div style='height:95px;'></div>
	</div>
	<div class='ischrt'>
		<div style='flex:1;height:90px;border:1px solid red;justify-content:center;align-items:center;'><text>全选</text></div>
		<div style='flex:1.5;height:90px;border:1px solid red;justify-content:center;align-items:center;'><text style='color:#FF9A66;'>合计：￥9999</text></div>
		<div style='flex:1;height:90px;border:1px solid red;justify-content:center;align-items:center;background-color:#FF9A66;'><text style='color:#fff;font-size:37px;'>结算</text></div>

	</div>
</div>
</template>
<script type="text/javascript">

	export default {
		data:{},
		methods:{
			
		},
		created:function(){},
		ready:function(){}
	}
</script>
<style scoped>
	.ischrt{
		flex-direction:row;
	}
	.header{
		flex-direction:row;
		background-color:#f5f5f5;
		border-bottom:1px solid #666;
	}
	
	.shopgood{
		width:95%;
		height:auto;
		border:2px solid #E4E4E4;
		margin:30px auto 0 auto;
	}
	.cart-title-border{
		margin:15px auto 0 15px;
		flex-direction:row;
	}
	.goodimg{
		margin-top:30px;
		margin-left:20px;
		flex-direction:row;
	}
</style>