/* pages/myapi/index.wxss */
.classname{
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  margin-top: 10px;
}
.pic{
  flex-direction: row;
  display: flex;
}
.pic image{
  width: 140px;
  height: 150px;
  border: 1px solid red;
  
}
.goodname{
  font-size: 40rpx;
  color:coral;
  margin-top:15px;
}
.price{
  font-size: 30rpx;
  color: red;
  margin-top: 15px;
}
.title{
  font-size: 30rpx;
  color: royalblue;
  margin-top: 15px;
}
.goodbox{
  margin-left: 15px;
}
.searchbar-result{
    margin-top: 0;
    font-size: 14px;
}
.searchbar-result:before{
    display: none;
}
.weui-cell{
    padding: 12px 15px 12px 35px;
}
.page{
  position: fixed;
  width: 100%;
  top: 0;
}
