/* pages/user/index.wxss */
.userbox{
  widows: 100%;
  height: 1170rpx;
  background-color: #fff;
  font-family: '微软雅黑';
}
.right-bow{
  width:751rpx;
  height:500rpx;
  position:absolute;
  right:0;
  top:0;
  box-shadow:-4px -5px 14px #fff inset;
}
.userportrait{
  width: 100%;
  margin: auto;
  height: 420rpx;
  background-image: url('http://osnb8r0w8.bkt.clouddn.com/userbk.jpg');
  background-size: 100%;
  padding-top: 35rpx;
  box-shadow:4px 0 14px #fff inset;
}
.userimg{
  width: 260rpx;
  height: 260rpx;
  margin: auto;
  border-radius: 130rpx;
  background-image: url('http://osnb8r0w8.bkt.clouddn.com/userimg.jpg');
  background-size: 100%;
  box-shadow:0px 10px 14px #fff;
}
.username{
  margin: auto;
  width: 400rpx;
  height: 150rpx;
  line-height: 150rpx;
  text-align: center;
  font-size: 53rpx;
  color: #fff;
}
.userservice{
  width: 680rpx;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap:wrap;
}
.userdata{
  width: 200rpx;
  height: 150rpx;
  margin-left: 20rpx;
  margin-top: 45rpx;
  display: flex;
  flex-direction:column;
}
.userdata-top{
  width: 80rpx;
  height: 60rpx;
  background-image: url('http://osnb8r0w8.bkt.clouddn.com/userziliao.png');
  background-size: 100%;
  background-position: 3rpx;
  background-repeat:no-repeat; 
  margin: auto;
}
.userdata-bottom{
  width: 140rpx;
  height: 60rpx;
  margin: auto;
  font-size: 30rpx;
  line-height: 40rpx;
  text-align: center;
  color: #777;
}
.userpass{
  width: 200rpx;
  height: 150rpx;
  margin-left: 20rpx;
  margin-top: 45rpx;
  display: flex;
  flex-direction:column;
}
.userpass-top{
  width: 80rpx;
  height: 65rpx;
  background-image: url('http://osnb8r0w8.bkt.clouddn.com/userpass.png');
  background-size: 68%; 
  background-position: 16rpx 3rpx;
  background-repeat:no-repeat;
  margin: auto;
}
.userpass-bottom{
  width: 140rpx;
  height: 60rpx;
  margin: auto;
  font-size: 30rpx;
  line-height: 40rpx;
  text-align: center;
  color: #777;
}
.usersign{
  width: 200rpx;
  height: 150rpx;
  margin-left: 20rpx;
  margin-top: 45rpx;
  display: flex;
  flex-direction:column;
}
.usersign-top{
  width: 80rpx;
  height: 85rpx;
  background-image: url('http://osnb8r0w8.bkt.clouddn.com/time.png');
  background-repeat:no-repeat;
  background-size: 65%;
  background-position:18rpx 12rpx;  
  margin: auto;
}
.usersign-bottom{
  width: 140rpx;
  height: 60rpx;
  margin: auto;
  font-size: 30rpx;
  line-height: 40rpx;
  text-align: center;
  color: #777;
}
.usercomplete{
  width: 200rpx;
  height: 150rpx;
  margin-left: 20rpx;
  margin-top: 35rpx;
  display: flex;
  flex-direction:column;
}
.usercomplete-top{
  width: 80rpx;
  height: 50rpx;
  background-image: url('http://osnb8r0w8.bkt.clouddn.com/okwork.png');
  background-repeat:no-repeat;
  background-size: 75%;
  background-position:12rpx -2rpx;  
  margin: auto;
}
.usercomplete-bottom{
  width: 140rpx;
  height: 60rpx;
  margin: auto;
  font-size: 30rpx;
  line-height: 40rpx;
  text-align: center;
  color: #777;
}
.userevaluate{
  width: 200rpx;
  height: 150rpx;
  margin-left: 20rpx;
  margin-top: 32rpx;
  display: flex;
  flex-direction:column;
}
.userevaluate-top{
  width: 80rpx;
  height: 62rpx;
  background-image: url('http://osnb8r0w8.bkt.clouddn.com/comment.png');
  background-size: 100%;
  background-position:0rpx -6rpx;
  margin: auto;
}
.userevaluate-bottom{
  width: 140rpx;
  height: 60rpx;
  margin: auto;
  font-size: 30rpx;
  line-height: 40rpx;
  text-align: center;
  color: #777;
}
.footer{
  width: 100%;
  height: 100rpx;
  border-top: 1rpx solid #999;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  background-color:#fff;
}
.distribution{
  width: 150rpx;
  height: 100rpx;
  padding-top: 9rpx;
}
.mycomplete{
  width: 150rpx;
  height: 100rpx;
}
.punch{
  width: 150rpx;
  height: 100rpx;
}
.mymsg{
  width: 150rpx;
  height: 100rpx;
}
.distribution-img{
  margin: auto;
  width:50rpx;
  height:50rpx;
}
.distribution-wz{
  width:150rpx;
  height:50rpx;
  text-align: center;
  line-height: 50rpx;
  font-size: 26rpx;
  color: #888;
}